<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>TradeGenius -- Ameya</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <!-- Navigation Bar -->
     <nav class="navbar">
        <div class="my-logo"><a class="logo" href="/">Trade Genius</a></div>
        <div class="container">
            <ul class="nav-links">
                <li><a href="/home">Stocks</a></li>
                <li><a href="/indicator">Indicators</a></li>
                <li><a href="/crypto">Crypto</a></li>
                <li><a href="/news">News</a></li>
                <li><a href="/sentiment">Sentiment Analysis</a></li>
                <li><a href="/lstm">LSTM</a></li>
                <li><a href="/arima">ARIMA</a></li>
                <li><a href="/lr">Linear Regression</a></li>
            </ul>
        </div>
    </nav>

<div class="container mt-4">
        <h1 class="mb-4">Stock Data Viewer</h1>
        <form action="/resultsentiment" method="post">
            <div class="form-group">
                <label for="stock_symbol">Select a Stock:</label>
                <select class="form-control" name="stock_symbol" id="stock_symbol" required>
                    <option value="AAPL">AAPL (Apple Inc.)</option>
                    <option value="MSFT">MSFT (Microsoft Corporation)</option>
                    <option value="GOOGL">GOOGL (Alphabet Inc. - Class A)</option>
                    <option value="AMZN">AMZN (Amazon.com Inc.)</option>
                    <option value="TSLA">TSLA (Tesla, Inc.)</option>
                    <option value="FB">FB (Meta Platforms, Inc.)</option>
                    <option value="BRK-B">BRK-B (Berkshire Hathaway Inc. - Class B)</option>
                    <option value="JPM">JPM (JPMorgan Chase & Co.)</option>
                    <option value="NVDA">NVDA (NVIDIA Corporation)</option>
                    <option value="AAP">AAP (Advance Auto Parts, Inc.)</option>
                    <option value="DIS">DIS (The Walt Disney Company)</option>
                    <option value="KO">KO (The Coca-Cola Company)</option>
                    <option value="INTC">INTC (Intel Corporation)</option>
                    <option value="VZ">VZ (Verizon Communications Inc.)</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

          {% if stock_symbol %}
        <h2 class="mt-4">Selected Stock: {{ stock_symbol }}</h2>
        {% endif %}

   {% if sentiment_df is not none and sentiment_df.shape[0] > 0 %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Title</th>
            <th>Compound Score</th>
        </tr>
    </thead>
    <tbody>
        {% for index, row in sentiment_df.iterrows() %}
        <tr>
            <td>{{ row['date'] }}</td>
            <td>{{ row['time'] }}</td>
            <td>{{ row['title'] }}</td>
            <td>{{ row['compound'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No sentiment data available.</p>
{% endif %}

 {% if plot_filename %}
    <h3>Sentiment analysis of {{stock_symbol}}</h3>
<img src="../static/plot.jpeg" alt="Sentiment Analysis Plot">
{% endif %}

</div>
</body>
</html>