<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Market Momentum App</title>
</head>
<body>
    <form method="POST" action="/">
        <label for="selected_option">Select stock or index:</label>
        <select name="selected_option" id="selected_option">
            <!-- Add options dynamically -->
            {% for option in options %}
                <option value="{{ option }}">{{ option }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="n_years">Years of prediction:</label>
        <input type="number" name="n_years" id="n_years" value="1" min="1" max="13">
        <br>
        <input type="submit" value="Predict">
    </form>

    <!-- Display forecast plot -->
    {% if forecast_plot %}
        {{ forecast_plot|safe }}
    {% endif %}

    <!-- Display forecast components plot -->
    {% if components_plot %}
        {{ components_plot|safe }}
    {% endif %}
</body>
</html>
